* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color:#18181b;
    color: #18181b;
}



/* nav bar css start */
#nav-menu{
    width: 100%;
    height: auto;
    padding: 10px 10%;
    position: fixed;
    background-color: #87efad;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav .fas{
    display: none;
}
.logo{
    font-size: 30px;
    text-decoration: none;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #18181b;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color:#18181b;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

/* nav bar css end */



/*==========================homeStart==============================*/

#home{
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    color: #87efad;
    /* animation: fadeInOut 1s ease-in-out forwards; ===========*/
}

#home{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 150px 0 100px 0; 
}

#one{
    /* background-color: aquamarine; */
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

#one>div{
    padding:10px 0px;
}

.home-img {
    width: 100%;
    border-radius: 10%;
    /* border: 4px solid #87efad;  */
} 

 #two {
    height: auto;
    width: 30%;
} 

/* @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  } */

 .text-2 {
    font-size: 75px;
    font-weight: 600;
}


.text-3 {
    font-size: 40px;  
    
    overflow: hidden; 
    border-right: .15em solid #87efad;
    white-space: nowrap; 
    margin: 0 auto; 
     letter-spacing: .05em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;

}

/* The typing effect */
/* @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  } */
  
  /* The typewriter cursor effect */
  /* @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #87efad; }
  } */


#resume-button-2{
    display: inline-block;
    background: #87efad;
    color: #18181b;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #87efad;
    transition: all 0.3s ease;
    text-decoration: none;
} 

#resume-button-2:hover {
    color: #87efad;
    background: none;
}

a{
    text-decoration: none;
    color: #87efad;
}


/*==========================homeEnd==============================*/

/*==========================aboutStart==============================*/

#about{
    width: 100%;
    margin: auto;
    height: auto;
    padding-bottom: 30px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
}


#ab{
    width: 100%;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#aboutmelogo{
    width:20%;
}

 #user-detail-intro,.mee{
    width:60%;
    height: 100%;
    color: #87efad;
    font-size: 18px;
    text-align: justify;
    text-justify:inter-word;
}

#about_profile{
    border-radius: 400px;
}

/*==========================aboutEnd==============================*/


/*==========================skillsStart==============================*/
.headers{
    width:100%;
    text-align: center;
    font-size: 40px;
    color: #87efad;
    padding: 20px 0px;
}

#skills{
    width:auto;
    margin:auto;
    height:auto;
}
#sk{
    width:90%;
    margin:auto;
    height:auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows:auto ;
    gap: 40px;
    padding: 30px;
}

#sk div{
    border: 3px solid #87efad;
    padding: 25px;
    text-align: center;
    transition: transform .4s;
}

#sk div:hover{
    -ms-transform: scale(1.3); 
    -webkit-transform: scale(1.3); 
    transform: scale(1.3); 
    background-color: #18181b;
    border: 4px solid #87efad;
}

.skills-card-img{
    width:100%;
}

.skills-card-name{
    color: #87efad;
    font-size: 20px;
    padding-top: 10px;
}

/*==========================skillsEnd==============================*/



/*==========================projectStart==============================*/


#pro{
    width:90%;
    height:auto;
    margin: auto;
    /* border:1px solid white;  */
}

.project-card{
    width:auto;
    height: auto;
    margin:auto;
    border: 3px solid #87efad;
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.project-image{
    width:55%;
    border:4px solid #87efad;
    background-color: white;
    transition: transform .4s;
    
}

.project-image:hover{
    -ms-transform: scale(1.3); 
    -webkit-transform: scale(1.3); 
    transform: scale(1.3); 
    background-color: #18181b;
    border: 4px solid #87efad;
    background-color: white;
}

.project-image img{
    width:100%;
}

.project-details{
    width:35%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-title{
    width:100%;
    text-align: center;
    color: #87efad;
    font-size:40px;
    
}

.project-description{
    width:100%;
    text-align: center;
    color: #87efad;
    font-size: 18px;
     /* text-align: justify;
    text-justify:inter-word;  */
}

.project-tech-stack{
    width: 100%;
    color: #87efad;
    font-size: 20px;
}

.probtn{
    width:150px;
    height:50px;
    font-size: 25px;
    border:2px solid #87efad;
    color: #18181b;
    background-color: #87efad;
}

.probtn:hover{
    background-color: #18181b;
    color: #87efad;
}

/*==========================projectEnd==============================*/




/*==========================GithubStart==============================*/

#github-calendar{
    width: 86%;
    margin: auto;
    padding: 5px 30px;
    color: #87efad;
    background-color: #131626;
    font-size: 20px;
    text-align: center;
    border: 1px solid white;
    border-radius: 4px;
    margin-bottom: 30px;
} 


#git_stats{
    width:96%;
    display: flex;
    margin:auto;
    justify-content: space-evenly;
}

#git_stats div{
    width:30%;
}

#git_stats img{
    width:100%;
} 




/*==========================GithubEnd==============================*/







/*==========================contactStart==============================*/

#contact{
    margin-top: 30px;
}

#contact_inner{
    width:90%;
    margin:auto;
    display: flex;
    background-color:none;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
} 

/* #contact_inner{
    width: 90%;
    margin:auto;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: start;
    gap: 30px;
}

#contact_inner div{
    display: flex;
    justify-content: center;
} */



#contact_inner i{
    font-size: 30px;
    color :#87efad;
}

/*==========================contactEnd==============================*/





/*==========================ResponsivenessStart==============================*/

@media screen and (min-width: 700px) and (max-width:1000px) {

        
    /* navbarcss new================================================ */
    nav .fas{
        display: block;
        font-size: 22px;
    }
    nav ul{

        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        background-color: #87efad;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin: 22px;
    }
    nav ul .fas{
        position: absolute;
        top:22px;
        left:22px;
        cursor: pointer;
    }
/*  ========================================================*/



    #home{
     flex-direction: column;
     align-items: center;
    }
    #one{
        width:100%
    }
    #two{
        width:40%;
        padding-top: 20px;
    }

    #sk{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows:auto ;
    }

    
    #projects{
        width:100%;
    }
    #pro{
        width:100%;
        height:auto;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        row-gap:30px;
    }
    .project-card{
        width:90%;
        height: auto;
        margin:auto;
        border: 4px solid #87efad;
        background-color: #18181b;
        display: block;
        justify-content: space-evenly;
        padding: 0px 0px; 
        margin-top: 0px;
        margin-bottom: 0px; 
        padding: 10px;
    }
    .project-image{
        width:99%;
        border:3px solid #87efad;
        background-color: white;
        transition: transform .4s;
        
    }
    .project-image:hover{
        -ms-transform: scale(1.3); 
        -webkit-transform: scale(1.3); 
        transform: scale(1.3); 
        border: 4px solid #87efad;
        background-color: white;
    }
    .project-image img{
        width:100%;
    }
    .project-details{
        width:100%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .project-title{
        margin-top: 6px;
        width:100%;
        text-align: center;
        color: #87efad;
        font-size:25px;
        
    }
    .project-description{
        margin-top: 6px;
        width:100%;
        text-align: center;
        color: #87efad;
        font-size: 16px;
        text-align: justify;
        text-justify:inter-word; 
    }
    .project-tech-stack{
        margin-top: 6px;
        width: 100%;
        color: #87efad;
        font-size: 20px;
    }
    .probtn{
        margin-top: 6px;
        width:120px;
        height:35px;
        font-size: 25px;
        border:2px solid #87efad;
        color: #18181b;
        background-color: #87efad;
    }

    #git_stats{
        width:96%;
        display: flex;
        margin:auto;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #git_stats div{
        width:55%;
        margin-bottom: 10px;

    }



}




@media screen and (min-width: 600px) and (max-width:699px) {
   
        
    /* navbarcss new================================================ */
    nav .fas{
        display: block;
        font-size: 22px;
    }
    nav ul{

        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        background-color: #87efad;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin: 22px;
    }
    nav ul .fas{
        position: absolute;
        top:22px;
        left:22px;
        cursor: pointer;
    }
/*  ========================================================*/
   
   
    #home{
     flex-direction: column;
     align-items: center;
    }
    #one{
        width:100%;
    }
    #two{
        width:40%;
        padding-top: 20px;
    }

    #sk{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:auto ;
    }

    #ab{
        flex-direction: column;
    }
    #aboutmelogo{
        width:50%;
        padding-bottom: 20px;
       
    }
     #user-detail-intro,.mee{
        width:80%;
    }
    

    #projects{
        width:100%;
    }
    #pro{
        width:100%;
        height:auto;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        row-gap:30px;
    }
    .project-card{
        width:90%;
        height: auto;
        margin:auto;
        border: 4px solid #87efad;
        background-color: #18181b;
        display: block;
        justify-content: space-evenly;
        padding: 0px 0px; 
        margin-top: 0px;
        margin-bottom: 0px; 
        padding: 10px;
    }
    .project-image{
        width:99%;
        border:3px solid #87efad;
        background-color: white;
        transition: transform .4s;
        
    }
    .project-image:hover{
        -ms-transform: scale(1.3); 
        -webkit-transform: scale(1.3); 
        transform: scale(1.3); 
        border: 4px solid #87efad;
        background-color: white;
    }
    .project-image img{
        width:100%;
    }
    .project-details{
        width:100%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .project-title{
        margin-top: 6px;
        width:100%;
        text-align: center;
        color: #87efad;
        font-size:25px;
        
    }
    .project-description{
        margin-top: 6px;
        width:100%;
        text-align: center;
        color: #87efad;
        font-size: 16px;
        text-align: justify;
        text-justify:inter-word; 
    }
    .project-tech-stack{
        margin-top: 6px;
        width: 100%;
        color: #87efad;
        font-size: 20px;
    }
    .probtn{
        margin-top: 6px;
        width:120px;
        height:35px;
        font-size: 25px;
        border:2px solid #87efad;
        color: #18181b;
        background-color: #87efad;
    }




    #git_stats{
        width:96%;
        display: flex;
        margin:auto;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #git_stats div{
        width:75%;
        margin-bottom: 10px;

    }


}





@media screen and (min-width: 400px) and (max-width:599px) {

        
    /* navbarcss new================================================ */
    nav .fas{
        display: block;
        font-size: 22px;
    }
    nav ul{

        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        background-color: #87efad;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin: 22px;
    }
    nav ul .fas{
        position: absolute;
        top:22px;
        left:22px;
        cursor: pointer;
    }
/*  ========================================================*/




    #home{
     flex-direction: column;
     align-items: center;
    }
    #one{
        width:100%;
    }
    #two{
        width:60%;
        padding-top: 20px;
    }

    #sk{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:auto ;
    }

    .text-3 {
        white-space: pre-wrap; 
    }

    #ab{
        flex-direction: column;
    }
    #aboutmelogo{
        width:50%;
        padding-bottom: 20px;
       
    }
     #user-detail-intro,.mee{
        width:80%;
    }
  

    #projects{
        width:100%;
    }
    #pro{
        width:100%;
        height:auto;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        row-gap:30px;
    }
    .project-card{
        width:90%;
        height: auto;
        margin:auto;
        border: 4px solid #87efad;
        background-color: #18181b;
        display: block;
        justify-content: space-evenly;
        padding: 0px 0px; 
        margin-top: 0px;
        margin-bottom: 0px; 
        padding: 10px;
    }
    .project-image{
        width:99%;
        border:3px solid #87efad;
        background-color: white;
        transition: transform .4s;
        
    }
    .project-image:hover{
        -ms-transform: scale(1.3); 
        -webkit-transform: scale(1.3); 
        transform: scale(1.3); 
        border: 4px solid #87efad;
        background-color: white;
    }
    .project-image img{
        width:100%;
    }
    .project-details{
        width:100%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .project-title{
        margin-top: 6px;
        width:100%;
        text-align: center;
        color: #87efad;
        font-size:25px;
    }
    .project-description{
        margin-top: 6px;
        width:100%;
        text-align: center;
        color: #87efad;
        font-size: 16px;
        text-align: justify;
        text-justify:inter-word; 
    }
    .project-tech-stack{
        margin-top: 6px;
        width: 100%;
        color: #87efad;
        font-size: 20px;
    }
    .probtn{
        margin-top: 6px;
        width:120px;
        height:35px;
        font-size: 25px;
        border:2px solid #87efad;
        color: #18181b;
        background-color: #87efad;
    }


    #git_stats{
        width:96%;
        display: flex;
        margin:auto;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #git_stats div{
        width:75%;
        margin-bottom: 10px;

    }



    #contact_inner{
        width:90%;
        margin:auto;
        display: flex;
        background-color:none;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #contact_inner div{
        padding-bottom: 20px;
    }



}




@media screen and (min-width: 100px) and (max-width:399px) {

    
    /* navbarcss new================================================ */
    nav .fas{
        display: block;
        font-size: 22px;
    }
    nav ul{

        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        background-color: #87efad;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin: 22px;
    }
    nav ul .fas{
        position: absolute;
        top:22px;
        left:22px;
        cursor: pointer;
    }
/*  ========================================================*/

    #home{
     flex-direction: column;
     align-items: center;
    }
    #one{
        width:100%;
    }
    #two{
        width:60%;
        padding-top: 20px;
    }

    #sk{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows:auto ;
    }

    .text-3 {
        white-space: pre-wrap; 
    }

    #ab{
        flex-direction: column;
    }
    #aboutmelogo{
        width:50%;
        padding-bottom: 20px;
       
    }
     #user-detail-intro,.mee{
        width:80%;
    }


    #projects{
        width:100%;
    }
    #pro{
        width:100%;
        height:auto;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        row-gap:30px;
    }
    .project-card{
        width:90%;
        height: auto;
        margin:auto;
        border: 4px solid #87efad;
        background-color: #18181b;
        display: block;
        justify-content: space-evenly;
        padding: 0px 0px; 
        margin-top: 0px;
        margin-bottom: 0px; 
        padding: 10px;
    }
    .project-image{
        width:99%;
        border:3px solid #87efad;
        background-color: white;
        transition: transform .4s;
        
    }
    .project-image:hover{
        -ms-transform: scale(1.3); 
        -webkit-transform: scale(1.3); 
        transform: scale(1.3); 
        border: 4px solid #87efad;
        background-color: white;
    }
    .project-image img{
        width:100%;
    }
    .project-details{
        width:100%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .project-title{
        margin-top: 6px;
        width:100%;
        text-align: center;
        color: #87efad;
        font-size:25px;
        
    }
    .project-description{
        margin-top: 6px;
        width:100%;
        text-align: center;
        color: #87efad;
        font-size: 16px;
        text-align: justify;
        text-justify:inter-word; 
    }
    .project-tech-stack{
        margin-top: 6px;
        width: 100%;
        color: #87efad;
        font-size: 20px;
    }
    .probtn{
        margin-top: 6px;
        width:120px;
        height:35px;
        font-size: 25px;
        border:2px solid #87efad;
        color: #18181b;
        background-color: #87efad;
    }



    #git_stats{
        width:96%;
        display: flex;
        margin:auto;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #git_stats div{
        width:75%;
        margin-bottom: 10px;

    }

    #contact_inner{
        width:90%;
        margin:auto;
        display: flex;
        background-color:none;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #contact_inner div{
        padding-bottom: 20px;
    }


}


